h1{
    text-align: center;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
}

.main-table{
    max-width: 1200px;
    margin: 0px auto;
    width: 700px;
    height: 400px;
}

.main-table , tr , th , td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
}

.main-table > tr , th{
    background-color: gray;
    text-align: left;
}

tr {
    background-color: aqua;
}

.hover{
    background-color: white;
}

.hover:hover{
    background-color: gainsboro;
    cursor: pointer;
}

